@import "tailwindcss";
@source "../styles/*.css";
@import "../styles/scrollbar.css";
@import "../styles/timeline.scss";
@import "../styles/card.css";

:root {
  --foreground: #171717;
  --secondary: #f6f6f6be;
  --background: rgba(255, 255, 255, 0.2);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-secondary: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

.table-spacing {
  border-spacing: 3px 1px; /* 12px */
  border-collapse: separate;
}

.multi-line-ellipsis {
  position: relative;
  line-height: 1.5em;
  /* 高度为需要显示的行数*行高，比如这里我们显示两行，则为3 */
  height: 3em;
  overflow: hidden;
}
.multi-line-ellipsis::after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 5px;
}
