@import "tailwindcss";
@source "../styles/*.css";
@import "../styles/scrollbar.css";
@import "../styles/timeline.scss";
@import "../styles/card.css";

:root {
  --foreground: #171717;
  --secondary: #f6f6f6be;
  --background: rgba(255, 255, 255, 0.2);
  --primary:oklch(70.7% 0.165 254.624);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-secondary: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

.table-spacing {
  border-spacing: 3px 1px; /* 12px */
  border-collapse: separate;
}

.multi-line-ellipsis {
  display: -webkit-box;           /* 必须设置为 -webkit-box */
  -webkit-box-orient: vertical;   /* 垂直排列 */
  -webkit-line-clamp: 2;          /* 限制显示 3 行，可改为任意正整数 */
  overflow: hidden;               /* 隐藏溢出内容 */
  text-overflow: ellipsis;        /* 可选，增强语义（实际由 -webkit-line-clamp 控制） */
}