.article-analytics-panel {
  display: flex;
  flex-direction: column;
  gap: 12px;
  .basic-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 12px;
    & > .basic-info-item {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      & > .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        gap: 2px;
      }
      &:first-of-type > .content {
        margin-right: auto;
      }
      &:last-of-type > .content {
        margin-left: auto;
      }
    }
    & > .basic-info-line {
      // height: 100%;
      width: 2px;
      position: relative;
      flex-shrink: 1;
      &:not(:first-child)::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 30%;
        transform: translateY(-50%);
        height: 75%;
        width: 2px;
        border-right: 2px solid var(--background);
      }
    }
  }
  .tags-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
    & > .tag-item {
      padding: 3px 12px;
      border-radius: 4px;
      background-color: var(--background);
      font-size: 12px;
      cursor: pointer;
      &:hover {
        background-color: var(--color-blue-400);
        color: #fff;
      }
    }
  }
}
