.markdown {
  .code-block {
    background: #282c34;
    pre {
      display: block;
      overflow-x: auto;
    }
    code.hljs {
      display: grid;
      grid-template-columns: min-content 1fr;
    }
    .hljs-line-number {
      color: #5c6370;
      text-align: right;
      padding-right: 10px;
    }
    code.hljs {
      padding: 3px 5px;
    }
    .hljs {
      color: #abb2bf;
    }
    .hljs-comment,
    .hljs-quote {
      color: #5c6370;
      font-style: italic;
    }
    .hljs-doctag,
    .hljs-formula,
    .hljs-keyword {
      color: #c678dd;
    }
    .hljs-deletion,
    .hljs-name,
    .hljs-section,
    .hljs-selector-tag,
    .hljs-subst {
      color: #e06c75;
    }
    .hljs-literal {
      color: #56b6c2;
    }
    .hljs-addition,
    .hljs-attribute,
    .hljs-meta .hljs-string,
    .hljs-regexp,
    .hljs-string {
      color: #98c379;
    }
    .hljs-attr,
    .hljs-number,
    .hljs-selector-attr,
    .hljs-selector-class,
    .hljs-selector-pseudo,
    .hljs-template-variable,
    .hljs-type,
    .hljs-variable {
      color: #d19a66;
    }
    .hljs-bullet,
    .hljs-link,
    .hljs-meta,
    .hljs-selector-id,
    .hljs-symbol,
    .hljs-title {
      color: #61aeee;
    }
    .hljs-built_in,
    .hljs-class .hljs-title,
    .hljs-title.class_ {
      color: #e6c07b;
    }
    .hljs-emphasis {
      font-style: italic;
    }
    .hljs-strong {
      font-weight: 700;
    }
    .hljs-link {
      text-decoration: underline;
    }
  }

  // 自定义heading属性
  @for $i from 1 through 6 {
    .heading-#{$i} {
      font-size: 1.5rem * pow(0.9, $i - 1);
      font-weight: 600;
      margin-bottom: 0.5em;
      line-height: 1.25;
      margin-top: if($i == 1, 0.5em, 0.25em / pow(1.2, $i - 1));
    }
  }

  .paragraph{
    color:rgba(255,255,255,0.9);
    margin-bottom: 0.5em;
  }
}
