
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


.scrollbar{
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track{
    background-color: rgba(255,255,255,0.3);
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: rgba(255,255,255,0.5);
    border-radius: 3px;
  }
}
