.timeline {
  display: flex;
  flex-direction: column;

  & > .timeline-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    cursor: pointer;

    .line {
      position: relative;
      width: 1px;
      align-self: stretch;
      margin: 0px 6px;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        height: 4px;
        width: 4px;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color:var(--color-blue-400);
        outline: 4px solid #e9e9e9;
        transition: all 0.3s ease-in-out;
      }
      &::before {
        transform: translateY(-50%);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: 1px dashed #e9e9e9;
        pointer-events: none;
      }
    }
    &:hover {
      .line::after {
        outline: none;
        height: 24px;
        border-radius: 2px;
        z-index: 2;
      }
    }
  }

  & > .timeline-item:first-child {
    .line::before {
      border: none;
    }
  }
}
